@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #282D35;
    height: 100vh;  
}

.nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 30px 25px;
    height: 90px;
}

.nav > h4 {
    margin: 0;
    color: #DEEBF8;
    font-weight: 500;
}

.nav > img {
    margin-right: auto;
}

.main {
    padding: 57px 27px;
    color: white;
    background-image: url(./images/reactjs-icon\ 2.png);
    background-repeat: no-repeat;
    background-position: right 75%;
}

h1 {
    letter-spacing: -0.05em;
    margin: 0;
}

ul {
    margin-top: 46px;
    max-width: 400px
}

ul > li {
    padding-block: 10px;
  
}

ul > li::marker {
    font-size: 1.5rem;
    color: #61DAFB;
}